body {
	background-color: #026873;
	background-image: linear-gradient(90deg, rgba(255,255,255,.07) 50%, transparent 50%),
	linear-gradient(90deg, rgba(255,255,255,.13) 50%, transparent 50%),
	linear-gradient(90deg, transparent 50%, rgba(255,255,255,.17) 50%),
	linear-gradient(90deg, transparent 50%, rgba(255,255,255,.19) 50%);
	background-size: 13px, 29px, 37px, 53px;
  font-family: 'Libre Baskerville', serif;
}

form {
	text-align: center;
	margin-bottom: 10px;
}

.container {
	background-color: #fff;
	max-width: 450px;
	padding: 10px;
	margin: 0 auto;
	border: 1px solid #000;
}

h1 {
	text-align: center;
	display: none;
	color: #fff;
}

p {
	text-align: center;
	/*font-size: 1.1em;*/
	line-height: 1.5em;
}

dt {
	width: 30%;
	float: left;
}

dd {
	text-align: right;
}
@media screen and (min-width: 700px) {
  /* remember to change max/min 1024 */
  h1 {
  	display: block;
  }

  p {
  	text-align: left;
  }
}

/*.container {
	margin: 3em auto;
	width: 600px;
}*/

.hidden {
	display: none;
}

.left {
	float: left;
}

.stack-image {
	background: url('../images/stack-icon.png') no-repeat center center;
	width: 200px;
	height: 200px;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	margin-right: 1em;
	border-radius: 5px;
}

.intro {
	margin-bottom: 1em;
}

.stack {
	clear: both;
}

.inspiration {
	margin-left: 3em;
}

.result {
	max-width: 300px;
	border: 1px solid black;
	padding: 10px;
	margin: 0 auto 1em auto;
	/*font-size: 1.0em;*/
}

.error {
	background-color: #F78181;
	padding: 1em;
}

ul.ui-autocomplete {
  width: 120px;
  list-style: none;
  padding: 0;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px 0px;
  border-bottom: 1px solid #eee;
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
  background-color: #fff;
}

ul.ui-autocomplete li {
  padding: 10px;
  font-size: 1.1em;
  font-family: 'Oswald', sans-serif;
  /*text-transform: uppercase;*/
}

ul.ui-autocomplete li:hover {
  background-color: #ddd;
}

.ui-helper-hidden-accessible {
	display: none;
}